.meals-section {
  padding: 9.6rem 0;

  &__container {
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
  }

  &__header {
    text-align: center;

    &-heading {
      display: block;

      font-size: 1.6rem;
      font-weight: var(--font-weight-500);
      letter-spacing: 0.75px;
      text-transform: uppercase;
      color: var(--color-hover--one);

      margin-bottom: 1.6rem;
    }

    &-text {
      font-size: var(--font-size-70);
      font-weight: var(--font-weight-700);
      line-height: 1.2;
      letter-spacing: -0.5px;
      color: var(--color-grey-dark);

      margin-bottom: 9.6rem;
    }
  }
}

.meals-section__meals {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6.4rem;
  row-gap: 9.6rem;

  margin-bottom: 4.6rem;
}

.meals-section__meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;

  &:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
  }

  &-details {
    padding: 3.2rem 4.8rem 4.8rem 4.8rem;
  }

  &-tags {
    margin-bottom: 1.2rem;
    display: flex;
    gap: 0.4rem;
  }

  &-tag {
    display: inline-block;

    font-size: var(--font-size-19);
    font-weight: var(--font-weight-600);
    text-transform: uppercase;
    color: var(--color-grey-dark);

    border-radius: 100px;
    padding: 0.4rem 0.8rem;

    &--vegetarian {
      background-color: #51cf66;
    }
    &--vegan {
      background-color: #94d82d;
    }
    &--paleo {
      background-color: #ffd43b;
    }
  }

  &-name {
    font-size: var(--font-size-38);
    color: var(--color-grey-dark);
    font-weight: var(--font-weight-600);

    margin-bottom: 3.2rem;
  }

  &-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &-item {
      font-size: 1.8rem;
      display: flex;
      align-items: center;
      gap: 1.6rem;
    }

    &-icon {
      height: 2.4rem;
      width: 2.4rem;
      color: #e67e22;
    }
  }
}

.meals-section__diets {
  &-heading {
    font-size: var(--font-size-48);
    font-weight: var(--font-weight-700);
    line-height: 1.2;
    letter-spacing: -0.5px;
    color: var(--color-grey-dar);

    margin-bottom: 3.2rem;
  }

  &-list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &-item {
    font-size: var(--font-size-29);
    display: flex;
    align-items: center;
    gap: 1.6rem;
    line-height: 1.2;
  }

  &-icon {
    width: 3rem;
    height: 3rem;
    color: var(--color-primary--one);
  }
}

.meals-section__cta {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;

  text-align: center;
  font-size: 1.8rem;

  &-link {
    display: inline-block;
    color: var(--color-primary--one);
    text-decoration: none;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;

    &:hover,
    &:active {
      color: var(--color-hover--one);
      border-bottom: 1px solid transparent;
    }
  }
}
