:root {
  /* Primary Colors */
  --color-primary--one: hsl(28, 80%, 52%);

  /* Secondary Colors */
  --color-secondary--one: hsl(28, 80%, 90%);
  --color-secondary--two: hsl(27, 83%, 95%);

  /* Neutral Colors */
  --color-white: hsl(0, 0%, 100%);
  --color-grey: hsl(0, 0%, 33%);
  --color-grey-light: hsl(0, 0%, 87%);
  --color-grey-light--two: hsl(0, 0%, 53%);
  --color-grey-light--three: hsl(0, 0%, 44%);
  --color-grey-dark: hsl(0, 0%, 20%);

  /* Hover Colors */
  --color-hover--one: hsl(28, 74%, 47%);
}

body {
  color: var(--color-grey);
}
